#IDE settings
.idea/
.vscode/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# "Śmieci" kompilacji pracy dyplomowej za pomocą MiKTeX
/out/main.aux
/out/main.bbl
/out/main.blg
/out/main.out
/out/main.synctex.gz
/out/main.toc
/Pracka/figures/mathematica-eps-converted-to.pdf
/Pracka/wit/sygnet-pp-eps-converted-to.pdf
/auxil/main.toc
/auxil/main.aux
/auxil/main.out
/main.synctex.gz
#  aaaa
Pracka/main.aux
Pracka/main.bbl
Pracka/main.blg
Pracka/main.fdb_latexmk
Pracka/main.fls
Pracka/main.synctex.gz
Pracka/main.toc
Pracka/main.out

# Data
# data/train/
# data/test/
# data/validation
data/

# Moje stare śmieci ;)
/old_kotu_stuff/data/test/*
/old_kotu_stuff/data/train/*
/old_kotu_stuff/data/validation/*
# trained model (chcemy go w ignore, czy postępy treningu teżwrzucamy na gita??)
# *.h5
# models/
/src/yolov8n.pt
*.h5
*.keras
